<div class="article-fragment">
    {{#if title.isPresent}}<h2 class="article-fragment-title">{{title.get}}</h2>{{/if}}
    <div class="article-fragment-content">
        {{{fragmentContent}}}
    </div>
</div>

